* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(58,62,180);
    background: linear-gradient(90deg, rgba(58,62,180,1) 0%, rgba(29,237,253,1) 50%, rgba(69,94,252,1) 100%); 
}

img{
    width: 100%;
}

